
@{
    ViewBag.Title = "Add";
}

<h2>Add a New Species</h2>
<a href="/Species/List">Back to Species</a>
<form method="POST" action="/Species/Add">
    <div><span>Name:</span><input id="Name" type="text" name="Name" /></div>
    <div><span>Breed:</span><input id="Breed" type="text" name="Breed" /></div>
  
    <input type="submit" value="Add Species">
</form>
