@model PetGrooming.Models.Species
@{
    ViewBag.Title = "Update";
}

<span class="heading">
    <p>
        <a href="/Species/List"><span class="glyphicon glyphicon-chevron-left"></span></a>
        Update
    </p>

</span>
<div class="container-sign-up">
    <div class="row">
        <form action="/Species/Update/@Model.SpeciesID" method="POST">
            <span>Species Name</span><input type="text" class="form-control"  required value="@Model.Name" id="Name" name="Name" /><br />
            <span>Species Breed</span><input type="text" class="form-control" required value="@Model.Breed" id="Breed" name="Breed" /><br />


            <input type="submit" class="btn btn-info" value="update pet" />
        </form>
    </div>
</div>

